; Generated starter for GameAgent.
config_version=5

[application]

config/name="__PROJECT_NAME__"
run/main_scene="res://samples/basic/BasicSample.tscn"

[autoload]

GameAgentRuntime="*res://addons/game_agent_runtime/runtime/GameAgentRuntimeNode.tscn"

[display]

window/size/viewport_width=960
window/size/viewport_height=540

[dotnet]

project/assembly_name="__ASSEMBLY_NAME__"

[editor_plugins]

enabled=PackedStringArray("res://addons/game_agent_runtime/plugin.cfg")

[rendering]

renderer/rendering_method="gl_compatibility"
renderer/rendering_method.mobile="gl_compatibility"
